.myProjects {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 100px 0px;
}

.myProjectsTitle.animate{
    animation-name: titleAnimate;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

.myProjectsTitle.notAnimate{
    color: rgb(13, 41, 96);
    animation-name: titleNotAnimate;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

.projectsTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 120px;
}

.projectsTitle .typedTitle {
    font-size: 60px;
    box-shadow: rgb(165, 134, 169) 0px 0px 4px 1px inset, rgba(255, 255, 255, 0.5) 0px 0px 6px 3px inset;
    padding: 5px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 370px;
}

.projectsTitle img {
    position: relative;
    height: 300px;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    cursor: auto;
    transform: translate(-78px, 1.2px);
}

.projects {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 300px;
}

.project {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 350px;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
    width: auto;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
}

.project.animate{
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.project.racoon{
    background-image: url(../../../public/racoonW.png);
    border-top-left-radius: 80px;
    justify-content: flex-end;
    background-size: 110px auto;
    left: 33%;
    right: 49.6%;
    z-index: 1;
    transform: translateX(-1000px);
}

.project.aq {
    background-image: url(../../../public/aq.png);
    background-size: 110px auto;
    border-bottom-right-radius: 80px;
    margin-left: 10px;
    justify-content: flex-start;
    left: 49.6%;
    right: 33%;   
    z-index: 1;
    transform: translateX(1000px);
}

.aq.animate{
    animation-name: aqEnter;
}

.racoon.animate{
    animation-name: racoonEnter;
}

.project:hover {
    border-radius: 0;
    z-index: 2;
}

.project.aq:hover {
    background-position: 30%;
}

.projectImg {
    position: relative;
    height: 100%;
    width: 350px;
    transition: all 400ms ease-in-out;
    filter: sepia(100%);
    opacity: 0;
}

.projectImg img{
    cursor: auto;
}

.project:hover .projectImg {
    animation-name: imgAppear;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.project.racoon:hover {
    left: 0;
    right: 49.5%;
    width: auto;

}

.project.aq:hover {
    right: 0;
    left: 49.5%;
    width: auto;
}

.projectInfo{
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.racoon .projectInfo{
    right: 400px;
}

.aq .projectInfo{
    left: 400px;
}



.projectInfo h3{
    z-index: 1;
    font-size: 35px;
    margin-bottom: 10px;
    color: rgb(13, 41, 96);
    font-weight: 800;
}

.projectInfo p{
    z-index: 1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 41, 96);
    font-weight: 600;
    transition: all 50ms ease-out;
}

.projectInfo a{
    z-index: 1;
    text-decoration: none !important;
    color: rgb(13, 41, 96) !important;
    height: 30px;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 900;
    transition: all 150ms ease-out;
}

.projectInfo a:hover{
    color: rgb(13, 41, 96) !important;
}

.project:hover .projectInfo{
    opacity: 1;
}

.line.racoon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    border-top-right-radius: 80px;
    border-bottom: solid 6px #fff;
    border-top: solid 4px rgb(13, 41, 96);
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: translateX(-1000px);
}

.line.aq {
    position: absolute;
    bottom: 340px;
    right: 0;
    width: 40%;
    border-bottom-left-radius: 80px;
    border-top: solid 6px #fff;
    border-bottom: solid 4px rgb(13, 41, 96);
    z-index: -1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: translateX(1000px);
}

.line.racoon.animate{
    animation-name: racoonEnter;
}

.line.aq.animate{
    animation-name: aqEnter;
}

.racoon img {
    position: absolute;
    z-index: 1;
    right: 60px;
    width: 300px;
    height: 100%;
    transform: translateX(55px);
}

.aq img {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 300px;
    height: 100%;
}

.projectSpan{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 2px;
    background-color: #fff;
    transition: all 400ms ease-out;
    transition-delay: 100ms;
}

.project.racoon:hover .projectSpan.racoon{
    width: 100%;
    right: 0;
}

.project.aq:hover .projectSpan.aq{
    width: 100%;
    left: 0;
}

@keyframes imgAppear {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes racoonEnter {
    from{
        transform: translateX(-1000px);
        opacity: 1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes aqEnter {
    from{
        transform: translateX(1000px);
        opacity: 1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

/*********** 1200px MAX-WIDTH ***********/

@media screen and (max-width:1200px){
    
    .projectsTitle {
        margin-bottom: 70px;
    }
    
    .project {
        height: 300px;
    }
    
    .projectImg {
        position: relative;
        height: 100%;
        width: auto;
        transition: all 400ms ease-in-out;
        filter: sepia(100%);
        opacity: 0;
    }
    
    .project.racoon:hover {
        left: 0;
        right: 49.5%;
        width: auto;
    
    }
    
    .project.aq:hover {
        right: 0;
        left: 49.5%;
        width: auto;
    }
    
    .projectInfo{
        width: 250px;
    }
    
    .racoon .projectInfo{
        right: 285px;
    }
    
    .aq .projectInfo{
        left: 285px;
    }
    
    .projectInfo h3{
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .projectInfo p{
        font-size: 16px;
    }
    
    .projectInfo a{
        color: rgb(13, 41, 96) !important;
        font-size: 25px;
        margin-top: 20px;
    }
    
    .line.racoon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        border-top-right-radius: 80px;
        border-bottom: solid 6px #fff;
        border-top: solid 4px rgb(13, 41, 96);
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform: translateX(-1000px);
    }
    
    .line.aq {
        position: absolute;
        bottom: 290px;
        right: 0;
        width: 40%;
        border-bottom-left-radius: 80px;
        border-top: solid 6px #fff;
        border-bottom: solid 4px rgb(13, 41, 96);
        z-index: -1;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform: translateX(1000px);
    }
    
    .line.racoon.animate{
        animation-name: racoonEnter;
    }
    
    .line.aq.animate{
        animation-name: aqEnter;
    }
    
    .racoon img {
        right: 60px;
        width: 250px;
        height: 100%;
        transform: translateX(55px);
    }
    
    .aq img {
        left: 0;
        width: 250px;
        height: 100%;
    }
}

/*********** 991px MAX-WIDTH ***********/

@media screen and (max-width:991px){
    
    .projectsTitle {
        margin-bottom: 70px;
    }
    
    .projects{
        margin-top: 30px;
    }

    .project {
        height: 280px;
    }
    
    .projectImg {
        position: relative;
        height: 100%;
        width: auto;
        transition: all 400ms ease-in-out;
        filter: sepia(100%);
        opacity: 0;
    }
    
    .project.racoon{
        left: 20%;
    }
    .project.aq{
        right: 20%;
    }

    .project.racoon:hover {
        left: 0;
        right: 49.5%;
        width: auto;
    
    }
    
    .project.aq:hover {
        right: 0;
        left: 49.5%;
        width: auto;
    }
    
    .projectInfo{
        width: 230px;
    }
    
    .racoon .projectInfo{
        right: 235px;
    }
    
    .aq .projectInfo{
        left: 235px;
    }
    
    .projectInfo h3{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .projectInfo p{
        font-size: 16px;
    }
    
    .projectInfo a{
        color: rgb(13, 41, 96) !important;
        font-size: 20px;
        margin-top: 15px;
    }
    
    .line.racoon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        border-top-right-radius: 80px;
        border-bottom: solid 6px #fff;
        border-top: solid 4px rgb(13, 41, 96);
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform: translateX(-1000px);
    }
    
    .line.aq {
        position: absolute;
        bottom: 270px;
        right: 0;
        width: 40%;
        border-bottom-left-radius: 80px;
        border-top: solid 6px #fff;
        border-bottom: solid 4px rgb(13, 41, 96);
        z-index: -1;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform: translateX(1000px);
    }
    
    .line.racoon.animate{
        animation-name: racoonEnter;
    }
    
    .line.aq.animate{
        animation-name: aqEnter;
    }
    
    .racoon img {
        right: 60px;
        width: 225px;
        height: 100%;
        transform: translateX(55px);
    }
    
    .aq img {
        left: 0;
        width: 225px;
        height: 100%;
    }
}

/*********** 768px MAX-WIDTH ***********/

@media screen and (max-width:768px){
    
    .projectsTitle {
        margin-bottom: 70px;
    }
    
    .projects{
        margin-top: 0px;
        height: 500px;
    }

    .project {
        height: 280px;
    }
    
    .projectImg {
        position: relative;
        height: 100%;
        width: auto;
        transition: all 400ms ease-in-out;
        filter: sepia(100%);
        opacity: 0;
    }
    
    .project.racoon{
        right: 0px;
        left: 65%;
        height: 220px;
        top: 0px;
        margin: 0px;
    }
    .project.aq{
        right: 65%;
        top: 226px;
        height: 220px;
        left: 0px;
        margin: 0px;
    }

    .project.racoon:hover {
        right: 0px;
        left: 0px;
    }
    
    .project.aq:hover {
        right: 0;
        left: 0;
    }
    
    .projectInfo{
        width: 420px;
    }
    
    .racoon .projectInfo{
        left: 25px;
        right: auto;
    }
    
    .aq .projectInfo{
        right: 25px;
        left: auto;
    }
    
    .projectInfo h3{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .projectInfo p{
        font-size: 16px;
    }
    
    .projectInfo a{
        color: rgb(13, 41, 96) !important;
        font-size: 20px;
        margin-top: 15px;
    }
    
    .line.racoon {
        position: absolute;
        top: 212px;
        z-index: -1;
        bottom: auto;
        left: 0;
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom: solid 5px #fff;
        border-top: solid 3px rgb(13, 41, 96);
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform: translateX(-1000px);
    }
    
    .line.aq {
        position: absolute;
        bottom: 267px;
        right: 0;
        width: 100%;
        border-bottom-left-radius: 80px;
        border-top: solid 5px #fff;
        border-bottom: solid 3px rgb(13, 41, 96);
        z-index: -1;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform: translateX(1000px);
    }
    
    .line.racoon.animate{
        animation-name: racoonEnter;
    }
    
    .line.aq.animate{
        animation-name: aqEnter;
    }
    
    .racoon img {
        right: 60px;
        width: 225px;
        height: 100%;
        transform: translateX(55px);
    }
    
    .aq img {
        left: 0;
        width: 225px;
        height: 100%;
    }
}

/*********** 576px MAX-WIDTH ***********/

@media screen and (max-width:576px){
    
    .projectsTitle {
        margin-bottom: 70px;
    }
    
    .projects{
        margin-top: 0px;
        height: 500px;
    }
    
    .projectImg {
        position: relative;
        height: 100%;
        width: auto;
        transition: all 400ms ease-in-out;
        filter: sepia(100%);
        opacity: 0;
    }
    
    .project.racoon{
        right: 0px;
        left: 65%;
        height: 190px;
        top: 0px;
        margin: 0px;
    }
    .project.aq{
        right: 65%;
        top: 198px;
        height: 190px;
        left: 0px;
        margin: 0px;
    }

    .project.racoon:hover {
        right: 0px;
        left: 0px;
    }
    
    .project.aq:hover {
        right: 0;
        left: 0;
    }
    
    .projectInfo{
        width: 300px;
    }
    
    .racoon .projectInfo{
        left: 25px;
        right: auto;
    }
    
    .aq .projectInfo{
        right: 25px;
        left: auto;
    }
    
    .projectInfo h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .projectInfo p{
        font-size: 14px;
    }
    
    .projectInfo a{
        color: rgb(13, 41, 96) !important;
        font-size: 18px;
        margin-top: 10px;
    }
    
    .line.racoon {
        position: absolute;
        top: 185px;
        z-index: -1;
        bottom: auto;
        left: 0;
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom: solid 5px #fff;
        border-top: solid 3px rgb(13, 41, 96);
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform: translateX(-1000px);
    }
    
    .line.aq {
        position: absolute;
        bottom: 294px;
        right: 0;
        width: 100%;
        border-bottom-left-radius: 80px;
        border-top: solid 5px #fff;
        border-bottom: solid 3px rgb(13, 41, 96);
        z-index: -1;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform: translateX(1000px);
    }
    
    .line.racoon.animate{
        animation-name: racoonEnter;
    }
    
    .line.aq.animate{
        animation-name: aqEnter;
    }
    
    .racoon img {
        right: 60px;
        width: 225px;
        height: 100%;
        transform: translateX(55px);
    }
    
    .aq img {
        left: 0;
        width: 225px;
        height: 100%;
    }
}

/*********** 428px MAX-WIDTH ***********/

@media screen and (max-width:428px){
    
    .projectsTitle {
        margin-bottom: 70px;
    }
    
    .projects{
        margin-top: 0px;
        height: 500px;
    }
    
    .projectImg {
        position: relative;
        height: 100%;
        width: 40%;
        transition: all 400ms ease-in-out;
        filter: sepia(100%);
        opacity: 0;
    }
    
    .project.racoon{
        right: 0px;
        left: 55%;
        height: 180px;
        top: 0px;
        margin: 0px;
    }
    .project.aq{
        right: 55%;
        top: 188px;
        height: 180px;
        left: 0px;
        margin: 0px;
    }

    .project.racoon:hover {
        right: 0px;
        left: 0px;
    }
    
    .project.aq:hover {
        right: 0;
        left: 0;
    }
    
    .projectInfo{
        width: 200px;
    }
    
    .racoon .projectInfo{
        left: 15px;
        right: auto;
    }
    
    .aq .projectInfo{
        right: 15px;
        left: auto;
    }
    
    .projectInfo h3{
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .projectInfo p{
        font-size: 12px;
    }
    
    .projectInfo a{
        color: rgb(13, 41, 96) !important;
        font-size: 16px;
        margin-top: 5px;
    }
    
    .line.racoon {
        top: 175px;
        border-top-width: 2px;
        border-bottom-width: 4px;
    }
    
    .line.aq {
        bottom: 307px;
        border-top-width: 4px;
        border-bottom-width: 2px;
    }
    
    .line.racoon.animate{
        animation-name: racoonEnter;
    }
    
    .line.aq.animate{
        animation-name: aqEnter;
    }
    
    .racoon img {
        right: 60px;
        width: 165px;
        height: 100%;
        transform: translateX(55px);
    }
    
    .aq img {
        left: 0;
        width: 165px;
        height: 100%;
    }
}

/*********** 410px MAX-WIDTH ***********/

@media screen and (max-width:410px){
    
    .projectsTitle {
        margin-bottom: 70px;
    }
    
    .projects{
        margin-top: 0px;
        height: 500px;
    }
    
    .projectImg {
        position: relative;
        height: 100%;
        width: 40%;
        transition: all 400ms ease-in-out;
        filter: sepia(100%);
        opacity: 0;
    }
    
    .project.racoon{
        right: 0px;
        left: 55%;
        height: 180px;
        top: 0px;
        margin: 0px;
    }
    .project.aq{
        right: 55%;
        top: 188px;
        height: 180px;
        left: 0px;
        margin: 0px;
    }

    .project.racoon:hover {
        right: 0px;
        left: 0px;
    }
    
    .project.aq:hover {
        right: 0;
        left: 0;
    }
    
    .projectInfo{
        width: 165px;
        justify-content: center;
    }
    
    .racoon .projectInfo{
        left: 15px;
        right: auto;
    }
    
    .aq .projectInfo{
        right: 15px;
        left: auto;
    }
    
    .projectInfo h3{
        font-size: 16px;
        margin-bottom: 0px;
    }
    
    .projectInfo p{
        font-size: 12px;
    }
    
    .projectInfo a{
        color: rgb(13, 41, 96) !important;
        font-size: 14px;
        margin-top: 0px;
    }
    
    .line.racoon {
        top: 175px;
        border-top-width: 2px;
        border-bottom-width: 4px;
    }
    
    .line.aq {
        bottom: 307px;
        border-top-width: 4px;
        border-bottom-width: 2px;
    }
    
    .line.racoon.animate{
        animation-name: racoonEnter;
    }
    
    .line.aq.animate{
        animation-name: aqEnter;
    }
    
    .racoon img {
        right: 60px;
        width: 165px;
        height: 100%;
        transform: translateX(55px);
    }
    
    .aq img {
        left: 0;
        width: 165px;
        height: 100%;
    }
}