.myProjects {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 300px 0px;
}

.projectsTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 50px;
    margin-bottom: 320px;
}

.projectsTitle .typedTitle {
    font-size: 60px;
    box-shadow: rgb(151, 215, 218) 1px 1px 4px 2px inset, rgba(255, 255, 255, 0.5) -1px -1px 4px 2px inset;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #ffffff;
    width: 360px;
}

.projectsTitle img {
    position: relative;
    height: 300px;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    cursor: auto;
    transform: translate(-51px, 24.2px);
}

.projects {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.project {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 280px;
    width: auto;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
}

.project.animate{
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.project.racoon{
    background-image: url(../../../public/racoonW.png);
    border-top-left-radius: 80px;
    justify-content: flex-end;
    background-size: 110px auto;
    left: 33%;
    right: 49.6%;
    z-index: 1;
    transform: translateX(-1000px);
}

.project.aq {
    background-image: url(../../../public/aq.png);
    background-size: 110px auto;
    border-bottom-right-radius: 80px;
    margin-left: 10px;
    justify-content: flex-start;
    left: 49.6%;
    right: 33%;   
    z-index: 1;
    transform: translateX(1000px);
}

.aq.animate{
    animation-name: aqEnter;
}

.racoon.animate{
    animation-name: racoonEnter;
}

.project:hover {
    border-radius: 0;
    z-index: 2;
}

.project.aq:hover {
    background-position: 30%;
}

.projectImg {
    position: relative;
    height: 100%;
    width: 350px;
    transition: all 400ms ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0;
}

.projectImg img{
    cursor: auto;
}

.project:hover .projectImg {
    animation-name: imgAppear;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.project.racoon:hover {
    left: 0;
    right: 49.5%;
    width: auto;

}

.project.aq:hover {
    right: 0;
    left: 49.5%;
    width: auto;
}

.projectInfo{
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.racoon .projectInfo{
    /* transform: scale(0) translateX(-200px); */
    right: 400px;
}

.aq .projectInfo{
    /* transform: scale(0) translateX(200px); */
    left: 400px;
}



.projectInfo h3{
    z-index: 1;
    font-size: 35px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 800;
}

.projectInfo p{
    z-index: 1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 600;
    transition: all 50ms ease-out;
}

.projectInfo a{
    z-index: 1;
    text-decoration: none !important;
    color: #000 !important;
    height: 30px;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 900;
    transition: all 150ms ease-out;
}

.projectInfo a:hover{
    color: #76d5c6 !important;
}

.project:hover .projectInfo{
    opacity: 1;
    /* transform: scale(1) translate(0px); */
}

.line.racoon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    border-top-right-radius: 80px;
    border-bottom: solid 25px #ad42de;
    border-top: solid 5px #76d5c6;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: translateX(-1000px);
}

.line.aq {
    position: absolute;
    bottom: 250px;
    right: 0;
    width: 40%;
    border-bottom-left-radius: 80px;
    border-top: solid 25px #ad42de;
    border-bottom: solid 5px #76d5c6;
    z-index: -1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: translateX(1000px);
}

.line.racoon.animate{
    animation-name: racoonEnter;
}

.line.aq.animate{
    animation-name: aqEnter;
}

.racoon img {
    position: absolute;
    z-index: 1;
    right: 60px;
    width: 300px;
    height: 100%;
    transform: translateX(55px);
}

.aq img {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 300px;
    height: 100%;
}

.projectSpan{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 2px;
    background-color: #ffffff;
    transition: all 400ms ease-in-out;
    transition-delay: 100ms;
}

.project.racoon:hover .projectSpan.racoon{
    width: 100%;
    right: 0;
}

.project.aq:hover .projectSpan.aq{
    width: 100%;
    left: 0;
}

@keyframes imgAppear {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes racoonEnter {
    from{
        transform: translateX(-1000px);
        opacity: 1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes aqEnter {
    from{
        transform: translateX(1000px);
        opacity: 1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}