.knowledge{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    margin: 200px 0px 200px 0px;
}

.knowledgeTitle{
    align-self: flex-end;
    margin-right: 50px;
    font-size: 80px;
    border-bottom: solid 1px #000;
    text-shadow: #524a5b 1px 1px, #5f5a67 0px 0px, #c0b9c7 2px 2px, #ffffff 4px 4px;
}

.courses{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    margin-bottom: 25px;
}

.course{
    height: 150px;
    width: 150px;
    opacity: 0;
    background-color: rgba(172, 66, 222);
    border: solid 3px rgba(172, 66, 222);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 200ms ease-in-out;
}

.html.animate{
    animation-name: courseEnter;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.js.animate{
    animation-name: courseEnter;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.react.animate{
    animation-name: courseEnter;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.selected{
    background-color: #76d5c6;
    border: solid 3px #76d5c6;
    color: #000;
    font-size: 22px;
}

.course:hover{
    border-bottom: solid 3px #fff;
}

.infoContainer{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.infoContainer.animate{
    animation-name: infoAnimate;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.info{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    padding: 0px 0px 0px 35px;
}

.info h2{
    font-size: 25px;
    font-weight: 600;
    margin: 50px 0 20px 0;
    color: #fff;
    align-self: flex-end;
}

.info p{
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.certificate{
    position: relative;
    height: 100%;
    width: 34%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
    border-top-right-radius: 90px;
    border-bottom: solid 5px #76d5c6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.certificate.html{
    background-image: url(./../../../public/certificadoHTMLCSS.png);
}

.certificate.js{
    background-image: url(./../../../public/certificado.jpg);
}

.certificate.react{
    background-image: url(./../../../public/certificadoReact.png);
}

.bgYellow{
    height: 540px;
    width: 100%;
    background-color: #76d5c6;
    position: absolute;
    top: 287px;
    z-index: -6;
    border-top: solid 1px rgba(89, 84, 10, 0.114);
}

.bgKnowledge{
    height: 540px;
    width: 100%;
    background-color: rgba(71, 19, 95, 0.897);;
    position: absolute;
    border-top-right-radius: 100px;
    top: 293px;
    z-index: -5;
    border-bottom: solid 7px #76d5c6;
}

.styleContainer{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.styleElement{
    position: absolute;
    height: 1300px;
    width: 1300px;
    top: -300px;
    left: -35%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.134);
}

.signo1{
    position: absolute;
    top: 490px;
    left: 15px;
    height: 100px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 100ms ease-in-out;
}

.signo1:hover{
    transform: scale(1.05);
}

.signo2{
    position: absolute;
    top: 490px;
    right: 15px;
    height: 100px;
    left: auto;
    width: 90px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 100ms ease-in-out;
}

.signo2:hover{
    transform: scale(1.05);
}

@keyframes courseEnter {
    from{
        opacity: 0;
        transform: translateX(-1000px) rotate(-540deg);
    }
    to{
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes infoAnimate {
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
    }
}