.knowledge{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    margin: 200px 0px 100px 0px;
}

.knowledge .sectionTitle{
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge .sectionTitle.animate{
    color: #c7b9a6;
    animation-name: titleAnimate;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.knowledge .sectionTitle.notAnimate{
    color: #eea2ff;
    animation-name: titleNotAnimate;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.courses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.course{
    position: relative;
    height: 125px;
    width: 125px;
    margin-top: 5px;
    margin: 7px;
    opacity: 0;
    background-color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 200ms ease-in-out;
    overflow: hidden;
    padding-top: 10px;
    
}

.courseContain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.courseContain .htmlCss{
    font-size: 60px;
    color: #82735e;
    transition: all 400ms ease-in-out;
    margin-top: 10px;
}

.courseContain .jsReact{
    font-size: 70px;
    color: #82735e;
    transition: all 400ms ease-in-out;
}

.course h3{
    color: #82735e;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
    z-index: 1;
    transition: all 400ms ease-in-out;
}

.courseSpan{
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 150%;
    height: 150%;
    background-color: #82735e;
    z-index: -1;
    transform: translateY(100%);
    transition: all 400ms ease-in;
}

.course:hover .courseSpan{
    transform: translateY(0px);
}

.course:hover h3,.course:hover .htmlCss,.course:hover .jsReact{
    color: #fff;
}

.html.animate{
    animation-name: courseEnter;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.js.animate{
    animation-name: courseEnter;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.react.animate{
    animation-name: courseEnter;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.selected{
    background-color: #c7b9a6;
    border: solid 2px #c7b9a6;
    color: #fff;
}

.selected:hover{
    border: solid 2px #fff;
}

.selected h3, .selected svg{
    color: #fff !important;
}

.infoContainer{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.infoContainer.animate{
    animation-name: infoAnimate;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.info{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    padding: 0px 0px 0px 35px;
}

.info h2{
    font-size: 25px;
    font-weight: 900;
    margin: 50px 0 20px 0;
    color: #82735e;
    align-self: flex-end;
}

.info p{
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #82735e;
}

.certificate{
    position: relative;
    height: 100%;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
    border-top-right-radius: 90px;
    border: solid 3px #82735e;
    filter: sepia(100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.certificate.html{
    background-image: url(./../../../public/certificadoHTMLCSS.png);
}

.certificate.js{
    background-image: url(./../../../public/certificado.jpg);
}

.certificate.react{
    background-image: url(./../../../public/certificadoReact.png);
}

.bgYellow{
    height: 380px;
    width: 100%;
    background-color: #c7b9a6;
    position: absolute;
    top: 331px;
    z-index: -6;
    border-top: solid 1px rgba(89, 84, 10, 0.114);
}

.bgKnowledge{
    height: 420px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    border-top-right-radius: 40px;
    top: 333px;
    z-index: -5;
    border-bottom: solid 3px #c7b9a6;
}

.styleContainer{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.styleElement{
    position: absolute;
    height: 1300px;
    width: 1300px;
    top: -300px;
    left: -35%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.134);
}

.signo1{
    position: absolute;
    top: 490px;
    left: 15px;
    height: 100px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.signo1:hover{
    transform: scale(1.05);
}

.signo2{
    position: absolute;
    top: 490px;
    right: 15px;
    height: 100px;
    left: auto;
    width: 90px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.signo2:hover{
    transform: scale(1.05);
}

@keyframes courseEnter {
    from{
        opacity: 0;
        transform: translateX(-1000px) rotate(-540deg);
    }
    to{
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes infoAnimate {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes titleAnimate{
    from{
        color: #c7b9a6;
    }
    to{
        color: #eea2ff;
    }
}

@keyframes titleNotAnimate{
    from{
        color: #eea2ff;
    }
    to{
        color: #c7b9a6;
    }
}

/*********** 1200px MAX-WIDTH ***********/

@media screen and (max-width:1200px){
    .bgKnowledge{
        top:322px;
        border-bottom: solid 2px #eea2ff;
    }

    .bgYellow{
        top: 320px;
    }

    .course{
        height: 115px;
        width: 115px;
        margin: 7px;
    }

    .courseContain .htmlCss {
        font-size: 50px;
    }

    .courseContain .jsReact {
        font-size: 60px;
    }

    .course h3{
        font-size: 12px;
    }
}

/*********** 991px MAX-WIDTH ***********/

@media screen and (max-width:991px){
    .bgKnowledge{
        top:323px;
        border-bottom: solid 2px #c7b9a6;
    }

    .bgYellow{
        top: 321px;
    }

    .course{
        height: 115px;
        width: 115px;
    }

    .courseContain .htmlCss {
        font-size: 50px;
    }

    .courseContain .jsReact {
        font-size: 60px;
    }

    .course h3{
        font-size: 12px;
    }
}

/*********** 768px MAX-WIDTH ***********/

@media screen and (max-width:768px){
    .bgKnowledge{
        top:290px;
        border-bottom: solid 2px #c7b9a6;
    }

    .bgYellow{
        top: 288px;
    }

    .course{
        height: 95px;
        width: 95px;
    }

    .courseContain .htmlCss {
        font-size: 40px;
    }

    .courseContain .jsReact {
        font-size: 50px;
    }

    .course h3{
        font-size: 10px;
    }

    .certificate{
        height: 90%;
        width: 40%;
    }

    .info{
        margin-left: 0px;
    }

    .signo1{
        left: 10px;
        top: 420px;
        height: 60px;
        width: 50px;
    }

    .signo2{
        right: 10px;
        top: 420px;
        height: 60px;
        width: 50px;
    }
}

/*********** 576px MAX-WIDTH ***********/

@media screen and (max-width:576px){
    .bgKnowledge{
        top:263px;
        border-bottom: solid 2px #c7b9a6;
        height: 475px;
    }

    .bgYellow{
        top: 261px;
    }

    .course{
        height: 85px;
        width: 85px;
    }

    .courseContain .htmlCss {
        font-size: 30px;
    }

    .courseContain .jsReact {
        font-size: 40px;
    }

    .course h3{
        font-size: 10px;
    }

    
    .infoContainer{
        flex-direction: column-reverse;
        padding: 0px 50px;
        height: 425px;
    }

    .info{
        margin-left: 0px;
        width: 90%;
        height: auto;
        padding: 0px;
    }
    
    .info h2{
        margin: 5px;
        font-size: 18px;
    }
    
    .info p{
        margin: 10px;
        font-size: 14px;
    }
    
    .certificate{
        height: 100%;
        width: 80%;
    }

    .signo1{
        left: 5px;
        top: 430px;
        height: 60px;
        width: 50px;
    }

    .signo2{
        right: 5px;
        top: 430px;
        height: 60px;
        width: 50px;
    }
}

/*********** 428px MAX-WIDTH ***********/

@media screen and (max-width:428px){
    .bgKnowledge{
        top:218px;
        border-bottom: solid 2px #c7b9a6;
        height: 435px;
    }

    .bgYellow{
        top: 216px;
    }

    .course{
        height: 65px;
        width: 65px;
        padding: 0;
    }

    .courseContain .htmlCss {
        font-size: 30px;
        height: 100%;
        transform: translateY(-5px);
    }

    .courseContain .jsReact {
        font-size: 40px;
        height: 100%;
    }

    .course h3{
        height: 0px;
        visibility: hidden;
        position: absolute;
    }

    
    .infoContainer{
        flex-direction: column-reverse;
        padding: 0px 50px;
        height: 380px;
    }

    .info{
        margin-left: 0px;
        width: 90%;
        height: auto;
        padding: 0px;
    }
    
    .info h2{
        margin: 5px;
        font-size: 16px;
    }
    
    .info p{
        margin: 10px;
        font-size: 12px;
    }
    
    .certificate{
        height: 100%;
        width: 80%;
    }

    .signo1{
        left: 5px;
        top: 400px;
        height: 55px;
        width: 45px;
    }

    .signo2{
        right: 5px;
        top: 400px;
        height: 55px;
        width: 45px;
    }
}