.aboutMe {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0px;
}

.sectionTitle{
    color: #c7b9a6;
    font-size: 100px;
    text-shadow: none;
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    margin-bottom: 0px;
}

.aboutMeTitle.animate{
    color: #c7b9a6;
    animation-name: titleAnimate;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.aboutMeTitle.notAnimate{
    color: #eea2ff;
    animation-name: titleNotAnimate;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.aboutBody{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutTitle {
    margin-top: 75px;
    position: relative;
    height: 420px;
    width: 40%;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 3px;
    transform: scaleX(1.1) translateX(-1000px);
    text-shadow: #524a5b 1px 1px, #5f5a67 0px 0px, #c0b9c7 2px 2px, #efff 4px 4px;
    z-index: 2;
}


.aboutTitle.animate {
    animation-name: aboutTitle;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.aboutTitle.animateBack {
    transform: scaleX(1.1) translateX(0px);
    animation-name: aboutTitleBack;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.spanTitle {
    position: absolute;
    height: 400px;
    width: 500px;
    z-index: -1;
    background-image: url(../../../public/pp2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20px;
    animation-name: nosds !important;
}

.spanTitle.animate {
    animation-name: aboutTitleShadow;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.spanTitle.animateBack {
    animation-name: aboutTitleShadowBack;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.aboutList {
    position: relative;
    margin-top: 100px;
    height: 370px;
    width: 60%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 320px;
    background-color: #fff;
    color: #534739;
    border-radius: 3px;
    border-bottom-left-radius: 260px;
    border-top-left-radius: 260px;
    transform: scaleX(1.1) translateX(1000px);
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    z-index: 1;
    overflow: hidden;
}

.aboutList p{
    z-index: 1;
    transition: all 400ms ease-in-out;
    font-size: 24px;
}

.aboutList.animate {
    animation-name: aboutList;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.aboutList.animateBack {
    animation-name: aboutListBack;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.spanList {
    position: absolute;
    height: 100%;
    width: 200%;
    right: -200px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.03);
    bottom: 20px;
    border-bottom-left-radius: 260px;
    border-top-left-radius: 260px;
}

.spanList.animate {
    animation-name: aboutListShadow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.spanList.animateBack {
    animation-name: aboutListShadowBack;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.aboutSpanHover{
    position: absolute;
    left: -5px;
    width: 150%;
    height: 150%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    transform: translateX(100%);
    transition: all 500ms ease-in;
}

.aboutList:hover .aboutSpanHover{
    transform: translateY(0px);
}

.aboutDoodles{
    position: absolute;
    height: 100%;
    width: 120%;
    transform: translateX(40%);
    background-image: url(../../../public/garabatos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-top: solid 2px #eea2ff;
    border-bottom: solid 2px #eea2ff;
}

@keyframes aboutTitle {
    from {
        transform: scaleX(1.1) translateX(-1000px);
        opacity: 0;
    }

    to {
        transform: scaleX(1.1) translateX(0px);
        opacity: 1;
    }
}

@keyframes aboutTitleBack {
    from {
        transform: scaleX(1.1) translateX(0px);
        opacity: 1;
    }

    to {
        transform: scaleX(1.1) translateX(-1000px);
        opacity: 0;
    }
}

@keyframes aboutTitleShadow {
    from {
        transform: scaleX(1.1) translateX(-1000px);
        opacity: 0;
    }

    to {
        transform: scaleX(1.1) translateX(0px);
        opacity: 1;
    }
}

@keyframes aboutTitleShadowBack {
    from {
        transform: scaleX(1.1) translateX(0px);
        opacity: 1;
    }

    to {
        transform: scaleX(1.1) translateX(-1000px);
        opacity: 0;
    }
}

@keyframes aboutList {
    from {
        transform: scaleX(1.1) translateX(1000px);
        opacity: 0;
    }

    to {
        transform: scaleX(1.1) translateX(0px);
        opacity: 1;
    }
}

@keyframes aboutListBack {
    from {
        transform: scaleX(1.1) translateX(0px);
        opacity: 1;
    }

    to {
        transform: scaleX(1.1) translateX(1000px);
        opacity: 0;
    }
}

@keyframes aboutListShadow {
    from {
        transform: scaleX(1.1) translateX(1000px);
        opacity: 0;
    }

    to {
        transform: scaleX(1.1) translateX(0px);
        opacity: 1;
    }
}

@keyframes aboutListShadowBack {
    from {
        transform: scaleX(1.1) translateX(0px);
        opacity: 1;
    }

    to {
        transform: scaleX(1.1) translateX(1000px);
        opacity: 0;
    }
}

@keyframes titleAnimate{
    from{
        color: #c7b9a6;
    }
    to{
        color: #eea2ff;
    }
}

@keyframes titleNotAnimate{
    from{
        color: #eea2ff;
    }
    to{
        color: #c7b9a6;
    }
}

/*********** 1200px MAX-WIDTH ***********/

@media screen and (max-width:1200px){
    .spanTitle{
        height: 360px;
        width: 380px;
    }

    .sectionTitle{
        font-size: 100px;
    }

    .aboutList{
        height: 330px;
        margin-top: 60px;
        padding-right: 220px;
    }

    .aboutList p{
        font-size: 20px;
    }
}

/*********** 991px MAX-WIDTH ***********/

@media screen and (max-width:991px){

    .aboutMe{
        margin-bottom: 100px;
        margin-top: 150px;
    }

    .spanTitle{
        height: 320px;
        width: 320px;
    }

    .sectionTitle{
        font-size: 100px;
    }

    .aboutList{
        height: 300px;
        margin-top: 25px;
        padding-right: 180px;
    }

    .aboutList p{
        font-size: 18px;
    }
}

/*********** 768px MAX-WIDTH ***********/

@media screen and (max-width:768px){
    
    .aboutMe{
        margin-bottom: 70px;
        margin-top: 50px;
    }

    .aboutTitle{
        margin-top: 60px;
    }

    .aboutList p{
        font-size: 16px;
        margin: 3px;
    }

    .spanTitle{
        height: 240px;
        width: 240px;
        top: 75px;
    }

    .sectionTitle{
        font-size: 90px;
    }

    .aboutList{
        height: 230px;
        margin-top: 30px;
        padding-right: 130px;
    }
}

/*********** 576px MAX-WIDTH ***********/

@media screen and (max-width:576px){
    
    .aboutMe{
        margin-bottom: 20px;
    }

    .aboutTitle{
        margin-top: 30px;
    }

    .aboutList p{
        font-size: 14px;
        margin: 3px;
    }

    .spanTitle{
        height: 200px;
        width: 200px;
        top: 95px;
    }

    .sectionTitle{
        font-size: 75px;
    }

    .aboutList{
        height: 190px;
        margin-top: 0px;
        padding-right: 80px;
    }
}

/*********** 428px MAX-WIDTH ***********/

@media screen and (max-width:428px){
    
    .aboutMe{
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .aboutTitle{
        margin-top: 30px;
    }

    .aboutList p{
        font-size: 12px;
        margin: 2px;
    }

    .spanTitle{
        height: 150px;
        width: 150px;
        top: 120px;
    }

    .sectionTitle{
        font-size: 58px;
    }

    .aboutList{
        height: 140px;
        margin-top: 0px;
        padding-right: 50px;
    }
}