@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.mainContainer {
    position: relative;
    height: 91vh;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-duration: 800ms;
    animation-name: txtIn;
    animation-iteration-count: 1;
    animation-direction: normal;
    width: 100%;
    padding: 0px 50px 50px 50px;
    margin-bottom: 100px;
    background-position: center;
    background-size: cover;
}

.mainContainer.day{
    background-image: url(/public/Beach.gif);
}

.mainContainer.night{
    background-image: url(/public/starfall.gif);
}

.welcomeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.firstRow {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 235px;
}


.welcomeText {
    font-size: 280px;
    font-weight: 900;
    color: rgb(13, 41, 96);
    -webkit-text-stroke: 2px #fff;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    z-index: -1;
    text-align: center;
}

.wel {
    align-self: flex-start;
}

.come {
    align-self: flex-end;
}

.bigName {
    position: absolute;
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-weight: 100;
    -webkit-text-stroke: 1px rgb(13, 41, 96);
    letter-spacing: -2px;
    /* line-height: 90px; */
    /* background-color: #fff; */
    border-radius: 5px;
    width: auto;
    top: 105px;
    right: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: enterName;
    animation-delay: 1s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.bigSubtitle {
    position: absolute;
    font-size: 65px;
    font-family: 'Anton', sans-serif;
    color: #090d49b2;
    font-weight: 100;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: -2px;
    /* line-height: 90px; */
    /* background-color: #fff; */
    border-radius: 5px;
    width: auto;
    top: 180px;
    right: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: enterName;
    animation-delay: 1s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 50;
}


.scrollTxt {
    position: absolute;
    bottom: 45px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    border: solid 1px #fff;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    /* font-style: italic; */
    font-weight: 600;
    margin: 0px !important;
    padding: 2px 5px;
    width: 200px;
    /* border: solid 3px rgba(255, 255, 255, 0.866); */
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}


@keyframes enterName {
    from {
        opacity: 0;
        transform: translateX(500px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*********** 1200px MAX-WIDTH ***********/

@media screen and (max-width:1200px) {
    .firstRow {
        line-height: 195px;
    }

    .welcomeText {
        font-size: 220px;
    }

    .bigName {
        font-size: 65px;
        top: 115px;
    }

    .bigSubtitle {
        font-size: 55px;
        top: 180px;
    }
}

/************ 991px MAX-WIDT ***********/

@media screen and (max-width:991px) {
    .firstRow {
        line-height: 175px;
    }

    .welcomeText {
        font-size: 190px;
    }

    .bigName {
        font-size: 45px;
        top: 135px;
    }

    .bigSubtitle {
        font-size: 40px;
        top: 180px;
    }

    .scrollTxt {
        bottom: 50px;
        font-size: 16px;
        width: 160px;
    }
}

/************ 768px MAX-WIDT ***********/

@media screen and (max-width:768px) {
    .firstRow {
        line-height: 135px;
    }

    .welcomeText {
        font-size: 140px;
    }

    .bigName {
        font-size: 30px;
        top: 160px;
        letter-spacing: -1px;
    }

    .bigSubtitle {
        font-size: 27px;
        top: 190px;
        letter-spacing: -1px;
    }

    .scrollTxt {
        bottom: 100px;
        font-size: 14px;
        width: 160px;
    }
}

/************ 576px MAX-WIDT ***********/

@media screen and (max-width:576px) {
    .firstRow {
        line-height: 105px;
        margin-bottom: 200px;
    }

    .welcomeText {
        font-size: 120px;
    }

    .wel{
        align-self: flex-start;
    }

    .come{
        align-self: center;
    }

    .bigName {
        font-size: 55px;
        top: 80%;
        right: 0;
        left: 0;
        margin: auto;
        letter-spacing: -1px;
    }

    .bigSubtitle {
        font-size: 45px;
        top: 95%;
        right: 0;
        left: 0;
        margin: auto;
        letter-spacing: -1px;
    }

    .scrollTxt {
        bottom: 100px;
        font-size: 12px;
        width: 160px;
    }

}

/************ 428px MAX-WIDT ***********/

@media screen and (max-width:428px) {
    .firstRow {
        line-height: 80px;
        margin-bottom: 200px;
    }

    .welcomeText {
        font-size: 85px;
    }

    .wel{
        align-self: flex-start;
    }

    .come{
        align-self: center;
    }

    .bigName {
        font-size: 40px;
        top: 80%;
        right: 0;
        left: 0;
        margin: auto;
        letter-spacing: -1px;
    }

    .bigSubtitle {
        font-size: 35px;
        top: 90%;
        right: 0;
        left: 0;
        margin: auto;
        letter-spacing: -1px;
    }

    .scrollTxt {
        bottom: 100px;
        font-size: 10px;
        width: 140px;
    }
}

/************ 360px MAX-WIDT ***********/

@media screen and (max-width:360px) {
    .firstRow {
        line-height: 80px;
        margin-bottom: 200px;
    }

    .welcomeText {
        font-size: 65px;
    }

    .wel{
        align-self: flex-start;
    }

    .come{
        align-self: center;
    }

    .bigName {
        font-size: 32px;
        top: 80%;
        right: 0;
        left: 0;
        margin: auto;
        letter-spacing: -1px;
    }

    .bigSubtitle {
        font-size: 28px;
        top: 90%;
        right: 0;
        left: 0;
        margin: auto;
        letter-spacing: -1px;
    }

    .scrollTxt {
        bottom: 100px;
        font-size: 10px;
        width: 140px;
    }
}