/* @import url("https://db.onlinewebfonts.com/c/180ca1285125dca23ad9e2112675649c?family=Neuzeit+Grotesk");
 */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800;900&display=swap');

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  scroll-behavior: smooth;
  z-index: 1;
}

.App.night{
  background-color: #0c1430 !important;
}

.App.day{
  background-color: #56cbe5;
}