.navbar{
    position: fixed !important;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(6px);
    background-color: rgb(193 10 212 / 11%) !important;
    width: 100%;
    font-size: 20px;
}

.logoClass{
    color: #fff !important;  
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
    align-items: center;
    justify-content: flex-end !important;
}

.nav-link{
    color: rgb(255, 255, 255) !important;
    transition: all 250ms ease-in-out !important;
}

.nav-link:hover{
    color: #76d5c6 !important;
    text-shadow: #2E2B32 1px 1px, #2E2B32 0px 0px, #2E2B32 0.5px 0.5px, #2E2B32 1.5px 1.5px;
}