.navbar{
    position: fixed !important;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.114) !important;
    width: 100%;
    font-size: 20px;
}

.logoClass{
    color: #fff !important;  
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
    align-items: center;
    justify-content: flex-end !important;
}

.nav-link{
    color: rgb(255, 255, 255) !important;
}
