.blockAnimation {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocksContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.block {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.block1 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.block2 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
}

.block3 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.block4 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
}

.block5 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.block6 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.block7 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.block8 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.block9 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.block10 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.block11 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

.block12 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.65s;
    animation-fill-mode: forwards;
}

.block13 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.block14 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.55s;
    animation-fill-mode: forwards;
}

.block15 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1.15s;
    animation-fill-mode: forwards;
}

.block16 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.95s;
    animation-fill-mode: forwards;
}

.block17 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.45s;
    animation-fill-mode: forwards;
}

.block18 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

.block19 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.05s;
    animation-fill-mode: forwards;
}

.block20 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.block21 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.block22 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1.05s;
    animation-fill-mode: forwards;
}

.block23 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.85s;
    animation-fill-mode: forwards;
}

.block24 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.35s;
    animation-fill-mode: forwards;
}

.block25 {
    background-color: rgb(255, 255, 255);
    animation-name: blockAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes blockAnimation {
    from {
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }

    to {
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
        visibility: hidden;
    }
}